@use '_var' as *;

#home {

    background-color: #f0f0f0;

    #banner {
        background:$green;
        color:white;
        text-align:center;
        padding:5em 0;
    }

    #button {

        background: $black;
        color:white;
    }

    #heading-{
        &2{
            font-size:2em;
            margin-bottom:0.5em;
        }
    }


}