@use '_var' as *;

#profile {


    .group-container {
        margin-top: 1em;
        background-color: white;
        min-height: 500px;
        padding-top: 1em;
    }

    .max-message {
        display:flex;
        align-items: center;
        color:gray;
        svg{
            font-size: 1.2em;
        }
    }

    #media-container {
        max-height: 400px;
        overflow-y: auto;
        margin-top: 1em;

        .grid-1 {

            display:flex;
            justify-content: center;
            align-items: center;
            

        }

        .media-block {
            margin-bottom: 2em;

        }

        .media-card {
            transition: all 0.3s ease-in-out;
            padding:0.5em 0;
            &:hover {
                background-color: $light-gray;
            }
        }

    }

    .notification-banner {
        background: $green;
        color:white;
        padding: 0.5em;
        font-size: 1.2em;
        margin-top:0.5em;
    }

    #select-form {
        margin-top: 1em;
        background: $light-grey;
        border: 5px dashed $black2;
        border-radius: 15px;
        max-width: 600px;
        height: 200px;
        // display: flex;
        text-align: center;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: $light-grey;
            border-color: $green;
            cursor: pointer;
            color:$green;

            h5 {
                color:$green;
            }
        }

        input[type="file"],
        button[type="submit"] {
            display: none
        }

        svg {
            font-size: 4em;
            margin-top: 0.5em;
        }

        .title {
            margin-top: 0.5em;
            color: $black2;
            font-size: 1.4em;
        }
    }

    #upload-form {

        max-height: 400px;
        overflow-y: auto;

        .card-content {
            width: 100%;
        }

        .upload-card {
            margin-top: 1em;
            padding: 1em;
        }
    }
}